development: &development
  adapter: postgresql
  database: projectmonitor_development
  template: template0
  username: postgres

test:
  <<: *development
  database: projectmonitor_test

production:
  <<: *development
  database: projectmonitor_production
